---
general:
  buildTool: "mta"

stages:
  Build:
    mavenExecuteStaticCodeChecks: false
    npmExecuteLint: true

  Additional Unit Tests:
    npmExecuteScripts: false
    karmaExecuteTests: false

  Acceptance:
    cloudFoundryDeploy: false
    cfApiEndpoint: "<%= cfapi %>"
    cfOrg: "<%= cforg %>"
    cfSpace: "<%= cfspace %>"
    cfAppName: "<%= projectName %>"
    cfCredentialsId: "deploy-to-cf"
    uiVeri5ExecuteTests: false

  Release:
    cloudFoundryDeploy: true
    cfApiEndpoint: "<%= cfapi %>"
    cfOrg: "<%= cforg %>"
    cfSpace: "<%= cfspace %>"
    cfAppName: "<%= projectName %>"
    cfCredentialsId: "deploy-to-cf"
    tmsUpload: false

steps:
  artifactPrepareVersion:
    versioningType: "cloud_noTag"

  npmExecuteLint:
    failOnError: true

  cloudFoundryDeploy:
    mtaDeployParameters: "-f --version-rule ALL"

  tmsUpload:
    nodeName: "qa"
    credentialsId: "tms-sk"
