<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<% if(apiFGCN){ -%>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<% } -%>
    <title><%= displayName %></title>
</head>

<body>
    <h2><%= description %></h2>
<% if(hana || api){ -%>
    <h3>Catalog</h3>
    <a href="<%= srvPath %>catalog/">Catalog</a><br />
    <a href="<%= srvPath %>catalog/$metadata">Metadata</a><br />
<% if(graphql){ -%>
    <a href="<%= srvPath %>graphql?query={CatalogService {Sales {ID region country org amount comments}}}">GraphQL</a><br />
    <a href="<%= srvPath %>graphql?query={CatalogService {Sales (top: 3 orderBy: {amount: desc} filter: {amount: {gt: 700}}) {country amount}}}">GraphQL - Top Sales</a><br />
<% } -%>
<% if(swagger){ -%>
    <a href="<%= srvPath %>swagger/catalog/">Swagger</a><br />
<% } -%>
<% } -%>
<% if(hana){ -%>
    <a href="<%= srvPath %>catalog/Sales">Sales</a><br />
    <a href="<%= srvPath %>catalog/Sales?$apply=filter(amount%20gt%20700)/groupby((region),aggregate($count%20as%20nrCountries))">Top Sales Count</a><br />
<% if(apiAICORE){ -%>
    <a href="<%= srvPath %>catalog/Anomalies?$top=3">Anomalies</a><br />
<% } -%>
<% } -%>
<% if(hanaNative){ -%>
    <a href="<%= srvPath %>catalog/topSales(amount=700)">Top Sales</a><br />
    <a href="<%= srvPath %>catalog/VSales">Sales by Region</a><br />
    <a href="<%= srvPath %>catalog/SessionInfo">Session Info</a><br />
<% } -%>
<% if(apiS4HCSO){ -%>
    <a href="<%= srvPath %>catalog/SalesOrders?$top=10&$filter=TotalNetAmount%20gt%202000&$orderby=SalesOrder%20desc">Sales Orders</a><br />
<% if(hana){ -%>
    <a href="<%= srvPath %>catalog/Sales(9)/CatalogService.largestOrder()">Largest Sales Order</a><br />
<% } -%>
<% if(em){ -%>
    <a href="<%= srvPath %>catalog/SalesOrdersLog">Sales Orders Log</a><br />
<% } -%>
<% } -%>
<% if(apiS4HCBP){ -%>
    <a href="<%= srvPath %>catalog/BusinessPartners?$top=10&$filter=Customer%20gt%20%27%20%27%20and%20FirstName%20gt%20%27%27">Business Partners</a><br />
<% if(em){ -%>
    <a href="<%= srvPath %>catalog/CustomerProcesses">Customer Processes</a><br />
<% } -%>
<% } -%>
<% if(apiSFSFRC){ -%>
    <a href="map.html">Candidates - Map</a><br />
    <a href="<%= srvPath %>catalog/Candidates?$top=10&$filter=country%20eq%20%27US%27%20and%20zip%20gt%20%2700000%27">Candidates</a><br />
<% if(em){ -%>
    <a href="<%= srvPath %>catalog/CandidatesLog">Candidates Log</a><br />
<% } -%>
<% } -%>
<% if(apiSFSFEC){ -%>
    <a href="<%= srvPath %>catalog/EmployeeJobs?$top=10&$orderby=startDate%20desc">Employee Jobs</a><br />
<% if(em && hana){ -%>
    <a href="<%= srvPath %>catalog/EmployeeJobsLog">Employee Jobs Log</a><br />
<% } -%>
<% } -%>
<% if(apiARIBPO){ -%>
    <a href="<%= srvPath %>catalog/PurchaseOrders?$top=3">Purchase Orders</a><br />
<% } -%>
<% if(apiFGCN){ -%>
    <a href="<%= srvPath %>catalog/JobPosting">Job Posting</a><br />
    <a href="<%= srvPath %>catalog/WorkOrder">Work Order</a><br />
    <br>
    <form action="<%= srvPath %>catalog/jobSeekerSubmit" id="jobSeekerForm">
        <table>
            <tr><td>Job Posting Id:</td><td><input type="text" name="jobPostingId"></td></tr>
            <tr><td>Start Date:</td><td><input type="text" name="startDateJS"></td></tr>
            <tr><td>End Date:</td><td><input type="text" name="endDateJS"></td></tr>
            <tr><td>Full Name:</td><td><input type="text" name="fullName"></td></tr>
            <tr><td>Date of Birth:</td><td><input type="text" name="dateOfBirth"></td></tr>
            <tr><td>Place of Birth:</td><td><input type="text" name="placeOfBirth"></td></tr>
            <tr><td>Resume/CV:</td><td><input type="file" name="resume"></td></tr>
            <tr><td><input type="submit" value="Supply Candidate"></td></tr>
        </table>
    </form>
    <script>
        $(document).ready(function(){
            $( "#jobSeekerForm" ).submit(function( event ) {
                event.preventDefault();
                if (!$("input[name='resume']").prop('files')[0]) {
                    alert("Resume/CV is required");
                    return;
                }
                var $form = $(this);
                var fr = new FileReader();
                fr.onload = function(){
                    var data = {
                        "jobPostingId": $("input[name='jobPostingId']").val(),
                        "startDate": $("input[name='startDateJS']").val(),
                        "endDate": $("input[name='endDateJS']").val(),
                        "fullName": $("input[name='fullName']").val(),
                        "securityId": $("input[name='fullName']").val().split(' ')[0].substring(0,2).toUpperCase() +
                                      $("input[name='fullName']").val().split(' ')[1].substring(0,2).toUpperCase() +
                                      $("input[name='placeOfBirth']").val().substring(0,2).toUpperCase() +
                                      $("input[name='dateOfBirth']").val().split('-')[2] +
                                      $("input[name='dateOfBirth']").val().split('-')[1] +
                                      $("input[name='dateOfBirth']").val().split('-')[0],
                        "resumeName": $("input[name='resume']").prop('files')[0].name,
                        "resumeMimeType": $("input[name='resume']").prop('files')[0].type,
                        "resumeText": fr.result.split(';base64,')[1]
                    };
                    $.ajax({
                        url: "/catalog/",
                        type: "GET",
                        headers: {
                            "X-CSRF-Token": "fetch"
                        },
                        success: function(getData, statusText, request) {
                            $.ajax({
                                url: $form.attr("action"),
                                type: "POST",
                                contentType: "application/json",
                                headers: {
                                    "X-CSRF-Token": request.getResponseHeader("X-CSRF-Token")
                                },
                                data: JSON.stringify(data),
                                dataType: "json",
                                success: function(result) {alert(result.Message)},
                                error: function(err) {alert(JSON.stringify(err))}
                            });
                        },
                        error: function(err) {alert(JSON.stringify(err))}
                    });
                };
                fr.readAsDataURL($("input[name='resume']").prop('files')[0]);
            });
        });
    </script>
    <br>
    <form action="<%= srvPath %>catalog/workOrderRespond" id="workOrderRespondForm">
        <table>
            <tr><td>Work Order Id:</td><td><input type="text" name="workOrderId"></td></tr>
            <tr><td>Job Seeker Id:</td><td><input type="text" name="jobSeekerId"></td></tr>
            <tr><td>Email:</td><td><input type="text" name="email"></td></tr>
            <tr><td>Start Date:</td><td><input type="text" name="startDateWO"></td></tr>
            <tr><td>End Date:</td><td><input type="text" name="endDateWO"></td></tr>
            <tr><td>Response:</td><td><label>Accept</label><input type="radio" name="modificationType" value="A" checked="true" ><label>Decline</label><input type="radio" name="modificationType" value="D"></td></tr>
            <tr><td>Comments:</td><td><input type="text" name="comments"></td></tr>
            <tr><td><input type="submit" value="Respond to Work Order"></td></tr>
        </table>
    </form>
    <br>
    <script>
        $( "#workOrderRespondForm" ).submit(function( event ) {
            event.preventDefault();
            var $form = $(this);
            var data = {
                "workOrderId": $("input[name='workOrderId']").val(),
                "jobSeekerId": $("input[name='jobSeekerId']").val(),
                "email": $("input[name='email']").val(),
                "startDate": $("input[name='startDateWO']").val(),
                "endDate": $("input[name='endDateWO']").val(),
                "modificationType": $("input[name='modificationType']").val(),
                "comments": $("input[name='comments']").val()
            };
            $.ajax({
                url: "/catalog/",
                type: "GET",
                headers: {
                    "X-CSRF-Token": "fetch"
                },
                success: function(getData, statusText, request) {
                    $.ajax({
                        url: $form.attr("action"),
                        type: "POST",
                        contentType: "application/json",
                        headers: {
                            "X-CSRF-Token": request.getResponseHeader("X-CSRF-Token")
                        },
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: function(result) {alert(result.Message)},
                        error: function(err) {alert(JSON.stringify(err))}
                    });
                },
                error: function(err) {alert(JSON.stringify(err))}
            });
        });
    </script>
<% } -%>
<% if(apiFGAP){ -%>
    <a href="<%= srvPath %>catalog/Approvals">Approvals</a><br />
    <a href="<%= srvPath %>catalog/RejectReasons?$filter=ModuleID%20eq%20%2740%27">Approvals - Reject Reasons</a><br />
<% } -%>
<% if(apiCONC){ -%>
    <a href="<%= srvPath %>catalog/ExpenseUsers?$top=3">Expense Users</a><br />
    <a href="<%= srvPath %>catalog/ExpenseReports?$top=3">Expense Reports</a><br />
<% } -%>
<% if(apiGRAPH){ -%>
<% graphDataSources.forEach(element => { -%>
    <a href="<%= srvPath %>catalog/<%= element.entity %>?$top=3"><%= element.entity %> (<%= element.name %>)</a><br />
<% }); -%>
<% } -%>
<% if(apiSACTenant){ -%>
    <a href="<%= srvPath %>catalog/Stories">Stories</a><br />
<% } -%>
<% if(apiHERE){ -%>
    <a href="<%= srvPath %>catalog/Geocodes?$filter=title%20eq%20%27France%27">Geocodes</a><br />
<% if(hana){ -%>
    <a href="<%= srvPath %>catalog/Sales(1)/CatalogService.geocode()">Geocode Sales</a><br />
<% } -%>
<% } -%>
<% if(apiNeoWs){ -%>
    <a href="<%= srvPath %>catalog/Asteroids">Near Earth Objects</a><br />
<% } -%>
<% customEntities.forEach(element => { -%>
    <a href="<%= srvPath %>catalog/<%= element %>"><%= customNamespace %> - <%= element %></a><br />
<% }); -%>
<% if(multiTenant && common){ -%>
    <a href="<%= srvPath %>catalog/common()">Common</a><br />
<% } -%>
<% if(authentication){ -%>
    <a href="<%= srvPath %>catalog/userInfo()">User Info</a><br />
<% } -%>
<% if(app2appType === "access"){ -%>
<% if(app2appMethod.includes("user")){ -%>
    <a href="<%= srvPath %>catalog/<%= app2appName %>User()"><%= app2appName %> - Principal Propagation of Business User</a><br />
<% } -%>
<% if(app2appMethod.includes("machine")){ -%>
    <a href="<%= srvPath %>catalog/<%= app2appName %>Tech()"><%= app2appName %> - Technical Communication</a><br />
<% } -%>
<% } -%>
<% if(hana && srv2){ -%>
    <h3>Additional Service - CAP</h3>
    <a href="<%= srvPath %>catalog2/">Catalog2</a><br />
    <a href="<%= srvPath %>catalog2/$metadata">Metadata</a><br />
    <a href="<%= srvPath %>catalog2/Students">Students</a><br />
<% } -%>
<% if(srvjs){ -%>
    <h3>Additional Service - Node.js</h3>
    <a href="<%= srvPath %>srvjs/">Home</a><br />
<% if(authentication){ -%>
    <a href="<%= srvPath %>srvjs/info">Info</a><br />
<% } -%>
<% if(api){ -%>
    <a href="<%= srvPath %>srvjs/dest<% if(apiNW){ -%>?destination=<%= projectName %>-nw&path=Shippers?$top=1<% } -%>">Destination</a><br />
<% } -%>
<% if(hana){ -%>
    <a href="<%= srvPath %>srvjs/database">Database</a><br />
<% } -%>
<% } -%>
<% if(v2support){ -%>
<% if(hana || api){ -%>
    <h3>v2</h3>
    <a href="<%= srvPath %>v2/catalog/">Catalog</a><br />
    <a href="<%= srvPath %>v2/catalog/$metadata">Metadata</a><br />
<% } -%>
<% if(hana){ -%>
    <a href="<%= srvPath %>v2/catalog/Sales">Sales</a><br />
    <a href="<%= srvPath %>v2/catalog/Sales?$apply=filter(amount%20gt%20700)/groupby((region),aggregate($count%20as%20nrCountries))">Top Sales Count</a><br />
<% if(apiAICORE){ -%>
    <a href="<%= srvPath %>v2/catalog/Anomalies?$top=3">Anomalies</a><br />
<% } -%>
<% } -%>
<% if(hanaNative){ -%>
    <a href="<%= srvPath %>v2/catalog/topSales()?amount=700">Top Sales</a><br />
    <a href="<%= srvPath %>v2/catalog/VSales">Sales by Region</a><br />
    <a href="<%= srvPath %>v2/catalog/SessionInfo">Session Info</a><br />
<% } -%>
<% if(apiS4HCSO){ -%>
    <a href="<%= srvPath %>v2/catalog/SalesOrders?$top=10&$filter=TotalNetAmount%20gt%202000&$orderby=SalesOrder%20desc">Sales Orders</a><br />
<% if(hana){ -%>
    <a href="<%= srvPath %>v2/catalog/Sales_largestOrder?ID=9">Largest Sales Order</a><br />
<% } -%>
<% if(em){ -%>
    <a href="<%= srvPath %>v2/catalog/SalesOrdersLog">Sales Orders Log</a><br />
<% } -%>
<% } -%>
<% if(apiS4HCBP){ -%>
    <a href="<%= srvPath %>v2/catalog/BusinessPartners?$top=10&$filter=Customer%20gt%20%27%20%27%20and%20FirstName%20gt%20%27%27">Business Partners</a><br />
<% if(em){ -%>
    <a href="<%= srvPath %>v2/catalog/CustomerProcesses">Customer Processes</a><br />
<% } -%>
<% } -%>
<% if(apiSFSFRC){ -%>
    <a href="<%= srvPath %>v2/catalog/Candidates?$top=10&$filter=country%20eq%20%27US%27%20and%20zip%20gt%20%2700000%27">Candidates</a><br />
<% if(em){ -%>
    <a href="<%= srvPath %>v2/catalog/CandidatesLog">Candidates Log</a><br />
<% } -%>
<% } -%>
<% if(apiSFSFEC){ -%>
    <a href="<%= srvPath %>v2/catalog/EmployeeJobs?$top=10&$orderby=startDate%20desc">Employee Jobs</a><br />
<% if(em && hana){ -%>
    <a href="<%= srvPath %>v2/catalog/EmployeeJobsLog">Employee Jobs Log</a><br />
<% } -%>
<% } -%>
<% if(apiARIBPO){ -%>
    <a href="<%= srvPath %>v2/catalog/PurchaseOrders?$top=3">Purchase Orders</a><br />
<% } -%>
<% if(apiFGCN){ -%>
    <a href="<%= srvPath %>v2/catalog/JobPosting">Job Posting</a><br />
    <a href="<%= srvPath %>v2/catalog/WorkOrder">Work Order</a><br />
<% } -%>
<% if(apiFGAP){ -%>
    <a href="<%= srvPath %>v2/catalog/Approvals">Approvals</a><br />
    <a href="<%= srvPath %>v2/catalog/RejectReasons?$filter=ModuleID%20eq%20%2740%27">Approvals - Reject Reasons</a><br />
<% } -%>
<% if(apiCONC){ -%>
    <a href="<%= srvPath %>v2/catalog/ExpenseUsers?$top=3">Expense Users</a><br />
    <a href="<%= srvPath %>v2/catalog/ExpenseReports?$top=3">Expense Reports</a><br />
<% } -%>
<% if(apiGRAPH){ -%>
<% graphDataSources.forEach(element => { -%>
    <a href="<%= srvPath %>v2/catalog/<%= element.entity %>?$top=3"><%= element.entity %> (<%= element.name %>)</a><br />
<% }); -%>
<% } -%>
<% if(apiSACTenant){ -%>
    <a href="<%= srvPath %>v2/catalog/Stories">Stories</a><br />
<% } -%>
<% if(apiHERE){ -%>
    <a href="<%= srvPath %>v2/catalog/Geocodes?$filter=title%20eq%20%27France%27">Geocodes</a><br />
<% if(hana){ -%>
    <a href="<%= srvPath %>v2/catalog/Sales_geocode?ID=1">Geocode Sales</a><br />
<% } -%>
<% } -%>
<% if(apiNeoWs){ -%>
    <a href="<%= srvPath %>v2/catalog/Asteroids">Near Earth Objects</a><br />
<% } -%>
<% customEntities.forEach(element => { -%>
    <a href="<%= srvPath %>v2/catalog/<%= element %>"><%= customNamespace %> - <%= element %></a><br />
<% }); -%>
<% if(multiTenant && common){ -%>
    <a href="<%= srvPath %>v2/catalog/common()">Common</a><br />
<% } -%>
<% if(authentication){ -%>
    <a href="<%= srvPath %>v2/catalog/userInfo()">User Info</a><br />
<% } -%>
<% if(app2appType === "access"){ -%>
<% if(app2appMethod.includes("user")){ -%>
    <a href="<%= srvPath %>v2/catalog/<%= app2appName %>User()"><%= app2appName %> - Principal Propagation of Business User</a><br />
<% } -%>
<% if(app2appMethod.includes("machine")){ -%>
    <a href="<%= srvPath %>v2/catalog/<%= app2appName %>Tech()"><%= app2appName %> - Technical Communication</a><br />
<% } -%>
<% } -%>
<% } -%>
<% if(schemaName !== '' && hanaTargetHDI === ''){ -%>
    <h3><%= schemaName %></h3>
    <a href="<%= srvPath %><%= schemaName %>/">Catalog</a><br />
    <a href="<%= srvPath %><%= schemaName %>/$metadata">Metadata</a><br />
<% if(swagger){ -%>
    <a href="<%= srvPath %>swagger/<%= schemaName %>/">Swagger</a><br />
<% } -%>
<% if(v2support){ -%>
    <h3>v2</h3>
    <a href="<%= srvPath %>v2/<%= schemaName %>/">Catalog</a><br />
    <a href="<%= srvPath %>v2/<%= schemaName %>/$metadata">Metadata</a><br />
<% } -%>
<% } -%>
<% if(hanaTargetHDI !== ''){ -%>
    <h3><%= hanaTargetHDI %></h3>
    <a href="<%= srvPath %><%= hanaTargetHDI %>/">Catalog</a><br />
    <a href="<%= srvPath %><%= hanaTargetHDI %>/$metadata">Metadata</a><br />
<% if(swagger){ -%>
    <a href="<%= srvPath %>swagger/<%= hanaTargetHDI %>/">Swagger</a><br />
<% } -%>
<% if(v2support){ -%>
    <h3>v2</h3>
    <a href="<%= srvPath %>v2/<%= hanaTargetHDI %>/">Catalog</a><br />
    <a href="<%= srvPath %>v2/<%= hanaTargetHDI %>/$metadata">Metadata</a><br />
<% } -%>
<% } -%>
</body>

</html>