<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title><%= displayName %></title>
</head>

<body>
    <h2><%= description %></h2>
<% if(fiori){ -%>
    <h3>Fiori</h3>
    <a href="webapp/index.html">Launchpad</a><br />
<% } -%>
    <h3>Catalog</h3>
    <a href="/catalog/">Catalog</a><br />
    <a href="/catalog/$metadata">Metadata</a><br />
    <a href="/catalog/Sales">Sales</a><br />
<% if(hanaNative){ -%>
    <a href="/catalog/topSales(amount=700)">Top Sales</a><br />
<% } -%>
<% if(api){ -%>
    <a href="/catalog/SalesOrders?$top=10&$filter=TotalNetAmount%20gt%202000&$orderby=SalesOrder%20desc">Sales Orders</a><br />
<% } -%>
<% if(authorization){ -%>
    <a href="/catalog/SalesAdmin">Sales (Admin)</a><br />
<% } -%>
<% if(authentication){ -%>
    <a href="/catalog/userInfo()">User Info</a><br />
<% } -%>
<% if(v2support){ -%>
    <h3>v2</h3>
    <a href="/v2/catalog/">Catalog</a><br />
    <a href="/v2/catalog/$metadata">Metadata</a><br />
    <a href="/v2/catalog/Sales">Sales</a><br />
<% if(hanaNative){ -%>
    <a href="/v2/catalog/topSales()?amount=700">Top Sales</a><br />
<% } -%>
<% if(api){ -%>
    <a href="/v2/catalog/SalesOrders?$top=10&$filter=TotalNetAmount%20gt%202000&$orderby=SalesOrder%20desc">Sales Orders</a><br />
<% } -%>
<% if(authorization){ -%>
    <a href="/v2/catalog/SalesAdmin">Sales (Admin)</a><br />
<% } -%>
<% if(authentication){ -%>
    <a href="/v2/catalog/userInfo()">User Info</a><br />
<% } -%>
<% } -%>
<% if(schemaName !== ''){ -%>
    <h3><%= schemaName %></h3>
    <a href="/<%= schemaName %>/">Catalog</a><br />
    <a href="/<%= schemaName %>/$metadata">Metadata</a><br />
<% if(v2support){ -%>
    <h3>v2</h3>
    <a href="/v2/<%= schemaName %>/">Catalog</a><br />
    <a href="/v2/<%= schemaName %>/$metadata">Metadata</a><br />
<% } -%>
<% } -%>
<% if(authentication){ -%>
    <h3>Session</h3>
    <a href="/logout">Logout</a><br />
<% } -%>
</body>

</html>